<!doctype html>
<html>

<head>
    <title>This is the search page title!</title>
</head>

<body>
<h1> This is the search page </h1>
<p>This is an example of a paragraph inside the search page</p>

<form action="/search-result" method="GET">
    <input id="search-box" type="text" name="keyword" value="Default">
    <input type="submit" value="OK" >
</form>

<form method="POST" action="/registered">
    <input id="first" type="text" name="first" value="first name" />
    <input id="last" type="text" name="last" value="last name" />
    <input type="submit" value="OK" />
</form>

</body>

</html>