<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Device Control App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<!-- Example taken from: https://getbootstrap.com/docs/5.2/components/navbar/ -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Smart Device Control App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add new device</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search device" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="card">
    <% device = device[0] %>
    <form method="GET" action="/device/update">
        <div class="mb-3">
            <label for="deviceName" class="form-label">Type new device name below</label>
            <input type="text" class="form-control" id="deviceName" name="deviceName" value="<%- device.device_name %>">
        </div>
        <div class="mb-3">
            <label for="deviceType" class="form-label">Select new device type below</label>
            <select id="deviceType" class="form-select" name="deviceType">
                <option value="SMART_LIGHT">Smart Light</option>
                <option value="SMART_LIGHT_SWITCH">Smart Light Switch</option>
                <option value="SECURITY_CAMERA">Security Camera</option>
                <option value="SMART_POWERPOINT">Smart Powerpoint</option>
                <option value="SMART_LOCKER">Smart Locker</option>
            </select>
        </div>
        <div>
            <label for="formFileLg" class="form-label">Upload image below</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" class="form-control" id="deviceId" name="deviceId" value="<%- device.ID %>">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>